@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    user-select: none;
}

.bg-hero{
    background-image: url('/fond.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

.poidsError, .typeError, .startZoneError, .endZoneError, .startDateError, .endDateError, .cargDateError{
    display: none;
    color: tomato;
    font-weight: 900; 
    font-size: 1.3rem;
}
.pagination-button{
    margin: 10px;
}

.modifBtn{
    background-color: rgb(183, 186, 188);
    margin-right: 15px;
    color: darkblue;
    font-weight: 900;
}
/* #map{
    display: none;
}  */


.prenomClientError,
.phoneClientError,
.adressClientError,
.prenomDestinataireError,
.emailClientError,
.nomClientError, 
.nomDestinataireError,
.telDestinataireError,
.emailDestinataireError,
.nombreColisError,
.poidsProduitError,
.typeProduitError,
.cargaisonProduitError,
.correspondError
{
    display: none;
    color: tomato;
    font-weight: 900; 
    font-size: 1.3rem;
}

.prodPrice{
    color: tomato;
    font-weight: 900; 
    font-size: 2rem;
} 
#chooseCargBtn{
    display: none;
}

#container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#boxCargSelect{
    max-width: 55rem;
}
.card{
margin: 10px;
padding: 10px;
background-color: rgb(10, 79, 79);
color: white;
font-size: 1.3rem;
width: 20vw;
}

.btnCarg{
    width: 7vw;
    font-size: 1.3rem;
    color: white;
    font-weight: 900;
    cursor: pointer;
    background-color: rgb(26, 31, 68);
    border-radius: 12px;
}

.infosColis{
    display: flex;
    justify-content: space-around;
}

.separator{
    position: relative;
    top: 90px;
    height: 1vh;
    width: 15vw;
    background-color: rgb(132, 132, 154);
    color: red;
    rotate: 90deg;
}

.closeCargInfos{
    position: relative;
    right: 600px;
    top: 20px;
}

.typeInfo, .poidsInfo, .prodInfo, .montantInfo, .date2Info,
.date1Info, .zone1Info, .zone2Info, .stateInfo, .progressInfo{
    font-size: 1.5rem;
    margin: 5px;
}

.progressUpdateError{
    margin-top: 15px;
    /* display: none; */
    color: tomato;
    font-weight: 900; 
    font-size: 1.3rem;
}

.updateProgressBox{
 border: solid 4px white;
 border-radius: 12px;
 margin-top: 20px;
}